<div class="layout-container">

    <header role="banner">
        <div class="fluid">
            {{ page.header }}
        </div>
    </header>

    <section class="navigation">
        <div class="fluid">
            {{ page.navigation }}
        </div>
    </section>

    <section class="banner">
        <div class="fluid">
            {{ page.baner }}
        </div>
    </section>

    <section class="filter">
        <div class="fluid">
            {{ page.search_filter }}
        </div>
    </section>

    <main role="main">
        <a id="main-content" tabindex="-1"></a>


        {% if page.sidebar_first %}
            <aside class="layout-sidebar-first" role="complementary">
                {{ page.sidebar_first }}
            </aside>
        {% endif %}
        <div class="layout-content">
            {{ page.content }}
        </div>
        {% if page.sidebar_second %}
            <aside class="layout-sidebar-second" role="complementary">
                {{ page.sidebar_second }}
            </aside>
        {% endif %}
        <div class="layout-content-first-second">
            <section class="featured-first">
                <div class="fluid">
                    {{ page.featured_first }}
                </div>
            </section>
            {{ page.featured_second }}
        </div>


    </main>

    <footer role="contentinfo">
        {% if page.footer_top %}
            {{ page.footer_top }}
        {% endif %}
        {% if page.footer_menu %}
            {{ page.footer_menu }}
        {% endif %}
        {% if page.footer_bottom %}
            {{ page.footer_bottom }}
        {% endif %}
    </footer>

</div>